@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

@import 'tailwindcss';

@font-face {
  font-family: 'TAN-Rosebud';
  src: url('/fonts/TAN-Rosebud.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  /* To use for accessibility modes, not finished set up get*/

  --font-main: 'TAN-Rosebud', serif;
  --font-alt: 'Lexend', sans-serif;

  --color-text: #1e1e1e;
  --color-bg: #ffffff;
  --color-accent: #e91e63;
}

html.dyslexic {
  /* To use for dyslexia-users, not finished set up get*/
  --font-main: var(--font-alt);
}

body {
  background: white;
  color: black;

  /* font-family: 'Playfair Display', serif; */
}

@layer base {
  button,
  a {
    @apply cursor-pointer transition duration-200;
  }

  a:hover {
    @apply underline text-pink-600;
  }
}
