@import 'tailwindcss';

@font-face {
  font-family: 'Rosebud';
  src: url('/fonts/TAN-Rosebud.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: white;
  color: black;
}
